In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv('example.csv')

In [ ]:
pwd

'/content'

In [ ]:
ls

advanced_housing.csv            Frozen_Dessert_Production.csv
african_econ_crises.csv         german_credit_data.csv
bank-additional-full.csv        heart.csv
bank-additional-names.txt       iris.csv
bank.csv                        kc_house_data.csv
boxplot.png                     LCDataDictionary.xlsx
california_housing_sklearn.csv  lending_club_info.csv
cancer_classification.csv       lending_club_loan_two.csv
diamonds.csv                    melb_data.csv
ECOMPCTNSA.csv                  RSCCASN.csv
energydata_complete.csv         sample_data/
example.csv                     stroke_data.csv
Excel_Sample.xlsx               stroke_features.png
fake_reg.csv                    UK_foods.csv
flights.csv                     Universities.csv

In [ ]:
df.to_csv('output.csv', index = True)

In [ ]:
pd.read_csv('output.csv')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
table = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [ ]:
type(table)

list

In [ ]:
table[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645